In [1]:
import logging

logging.basicConfig(
    filename  = "/workspaces/funsql/.log/app.log",      # Log output file
    level     = logging.DEBUG,  # Output level
    format    = '%(asctime)s\n%(levelname)s %(name)s %(threadName)s\n%(message)s\n\n\n'
)

In [2]:
from funsql import Hook, readTemplates
ph = Hook({
    "host"      : "psql-mock-database-cloud.postgres.database.azure.com",
    "port"      : "5432",
    "user"      : "nxhbvewxsaijdisfftwjgpuw@psql-mock-database-cloud",
    "password"  : "aexcrtmmacdnrmpsomnnsvov",
    "database"  : "booking1666875447372qmebziyvxnskbwrb"
})
query = readTemplates("./funsql/data/sql_templates.sql")

In [3]:
my_sample = query.sample10('pg_tables')
my_sample

SELECT * FROM pg_tables LIMIT 10;

In [4]:
my_sample()

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,company,ddvrvydmclaoowbfkhtdyyph,None,True,False,False,False
1,public,property_history,ltmtskflkgwwrgxhvwlozebc,None,True,False,False,False
2,public,config_item,ltmtskflkgwwrgxhvwlozebc,None,True,False,False,False
3,public,users,mock_database_root,None,False,False,False,False
4,public,appartments,mock_database_root,None,True,False,False,False
5,public,bookings,mock_database_root,None,False,False,False,False
6,pg_catalog,pg_statistic,azure_superuser,None,True,False,False,False
7,pg_catalog,pg_foreign_table,azure_superuser,None,True,False,False,False
8,pg_catalog,pg_authid,azure_superuser,pg_global,True,False,False,False
9,pg_catalog,pg_user_mapping,azure_superuser,None,True,False,False,False

In [5]:
query.sample10('mytable') + query.columns('healthcare','transactions') + query.sample10('transactions') + query.sample10('mytable')

SELECT * FROM mytable LIMIT 10;

SELECT *
  FROM information_schema.COLUMNS
 WHERE table_schema = 'healthcare'
   AND TABLE_NAME   = 'transactions'
     ;
SELECT * FROM transactions LIMIT 10;

SELECT * FROM mytable LIMIT 10;

In [6]:
query.sample10('public.users')()

,id,first_name,last_name,full_name,job_title,job_type,phone,email,image,country,city,onboarding_completion
0,0,Kattie,Hane,Darrel Champlin,Senior Data Orchestrator,District,292.479.2831,Kirk_Torphy92@gmail.com,https://cdn.fakercloud.com/avatars/antjanus_12...,Berkshire,New Gaetano,82
1,1,Orin,Kshlerin,Robert Gerlach,Forward Assurance Designer,Future,901.373.5326 x6273,Jordon39@yahoo.com,https://cdn.fakercloud.com/avatars/txcx_128.jpg,Buckinghamshire,Felipeborough,61
2,2,Floy,Klein,Carla Huels,Human Branding Specialist,Dynamic,681.721.0550 x5379,Wilfred.Terry@yahoo.com,https://cdn.fakercloud.com/avatars/ssbb_me_128...,Bedfordshire,Padbergport,39
3,3,Breanne,Jacobi,John Hirthe,Investor Implementation Manager,Principal,1-320-695-1664 x4548,Jed.OKon@yahoo.com,https://cdn.fakercloud.com/avatars/longlivemyw...,Cambridgeshire,Kissimmee,79
4,4,Augustine,Reichert,Marco Reichel,International Group Supervisor,District,1-240-795-7808,Rodrigo_Renner@gmail.com,https://cdn.fakercloud.com/avatars/itolmach_12...,Berkshire,West Meaghan,89
5,5,Hope,Turner,Vernon Kreiger,Direct Optimization Agent,Investor,(634) 274-7122 x63780,Waylon.Wisoky@yahoo.com,https://cdn.fakercloud.com/avatars/byryan_128.jpg,Bedfordshire,Alfredchester,51
6,6,Fletcher,O'Keefe,Ms. Brandy Rice,National Factors Technician,Dynamic,635-250-9518,Rosalind_Hudson@hotmail.com,https://cdn.fakercloud.com/avatars/okandungel_...,Bedfordshire,North Cobybury,18
7,7,Eliza,Considine,Alma Lebsack,Human Solutions Architect,Central,727-456-4141,Angelita_Miller@gmail.com,https://cdn.fakercloud.com/avatars/divya_128.jpg,Borders,North Jaquelineton,11
8,8,Abel,Brakus,Dr. Luther Bartoletti,Lead Integration Executive,Global,1-215-987-8205,Edwin24@yahoo.com,https://cdn.fakercloud.com/avatars/bargaorobal...,Borders,Nigelburgh,83
9,9,Jessy,Friesen,Rhonda Kuvalis,Dynamic Group Facilitator,Corporate,823.378.9164 x178,Chanel.Kunde@yahoo.com,https://cdn.fakercloud.com/avatars/stalewine_1...,Bedfordshire,Lancaster,50